.Search {
  margin-bottom: 16px;
  &__form {
    display: flex;
    align-items: center;

    &-label {
      position: relative;
      padding-left: 16px;

      display: flex;
      align-items: center;

      background: var(--white-color);
      border: 1px solid var(--grey-color);
      border-radius: 10px;
    }

    &-input {
      border: none;
      border-right: 1px solid var(--grey-color);

      font-family: montserat;
      font-style: italic;
    }

    &-select {
      width: 100%;
      padding: 8px 22px 8px 12px;

      border-radius: 8px;
      border: none;

      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      
      font-size: 14px;

      &-btn {
        position: absolute;
        right: 5px;
        pointer-events: none;
        cursor: pointer;
        width: 16px;
        height: 10px;
        background-image: url("../../img/svg/select.svg");
      }
    }

    &-select:focus,
    &-select:hover {
      border: none;
      outline: none;
      border-radius: 8px;
    }
  }

  &__btn-submit {
    padding: 16px;
    margin-left: 12px;
    border-radius: 8px;
    background-color: var(--bg-blue);
    background-image: url("../../img/svg/search.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
