:root {
  --main-bg-color: #e5e5e5;
  --bg-blue: #3a80ba;
  --white-color: #ffffff;
  --text-color: #1a1a1a;
  --bg-footer-color: #1c3b55;
  --grey-color: #f1f1f1;
  --bg-line-light: #fbfbfb;
  --bg-line-dark: #f1f1f1;

  --tablet-screen: 650px;
  --mobile-screen: 480px;
}
